<!DOCTYPE html>
<html lang="ja"></html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <h1>写真のリスト</h1>

    <div id="app">
        <p>
        <span v-for="button in selected" v-bind:key="button.id">
        
        <!-- <button v-on-click="showChangeAttribute(button.attribute)">show {{button.attribute}}</button> -->
        <button v-on:click="showChangeAttribute(button.attribute);changeSelected(button.attribute)" v-bind:class="{ buttonSelected : button.selected }">show {{button.attribute}}</button>
        </span>
        <br>


        <button v-on:click="showAll()">show all</button>
        <button v-on:click="hideAll()">hide all</button>
        <!-- <button v-on:click="showChangeAttribute('家')">show家</button>
        <button v-on:click="showChangeAttribute('鳥')">show鳥</button>
        <button v-on:click="showChangeAttribute('動物')">show動物</button> -->
        </p>

        <transition-group tag="ul" class="list">
        <li v-for="(item, index) in list"
            v-bind:key="item.id"
            class="item"
            v-if="item.show">
            
            <img v-bind:src="item.picpath" v-bind:id="item.id" class="message">
            {{ item.msg }}
            <div class="atts">
                <span v-for="attribute in item.attributes"
                v-on:click="showChangeAttribute(attribute)" class="picAtt">{{ attribute }}</span>
            </div>
        </li>
        </transition-group>
    </div>





    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.19/lodash.min.js"></script>
    <script src="main.js"></script>
</body>
</html>
